h1 {
  font-size: 100px;
  text-align: center;
}

div {
  text-align: center;
}

button {
  background-color: grey;
  color: white;
  font-family: Helvetica;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 120px;
}

button.wide {
  background-color: grey;
  color: white;
  font-family: Helvetica;
  font-size: 20px;
  padding: 10px;
  width: 410px;
}

button:hover {
  background-color: steelblue;
}

